
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff</h2>

@if (ViewBag.Staff != null && ViewBag.Staff.Count > 0)
{
    <ul>
        @foreach (var staff in ViewBag.Staff)
        {
            <li>Id: @staff.Id, Name: @staff.Name, Salary: @staff.Position</li>
        }
    </ul>


}